<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head">
</head>
<body>
<div th:replace="fragments :: menu" />
<div class="container">
    <div>
        <h1>Flights Settings
            <span>
                <img th:src="@{/img/settings.png}" id="airports_settings" style="max-width: 100%; max-height: 100%; width: auto; height: auto"/>
            </span>
        </h1><br/>
    </div>
    <div align="center">
        <form th:action="@{/admin/settings/flights/page/1}">
            <input type="hidden" name="sortField" th:value="${sortField}" />
            <input type="hidden" name="sortDir" th:value="${sortDir}" />
            Search Flights by Flight Number or Airline:
            <input type="text" name="keyword" id="keyword" size="50" placeholder="Flight Number / Airline" th:value="${keyword}" required/>
            &nbsp;
            <input type="submit" value="Search" />
            &nbsp;
            <input type="button" value="clear" id="btnClear" onclick="clearSearch()"/>
        </form>
    </div>
    <div>&nbsp;</div>
    <div>
        <a th:href="@{/admin/settings/flights/add}">
            <img th:src="@{/img/add-flight.png}" id="flights_settings" style="max-width: 150px; max-height: 75px; width: auto; height: auto;"/>
        </a>
        <table class="table table-bordered" id="mydata">
            <thead>
            <th scope="col">
                <a th:href="@{'/admin/settings/flights/page/' + ${currentPage} + '?sortField=flightNo&sortDir=' + ${reverseSortDir}
                            + ${keyword != null ? '&keyword=' + keyword : ''}}">
                    Flight Number
                </a>
            </th>
            <th scope="col">
                <a th:href="@{'/admin/settings/flights/page/' + ${currentPage} + '?sortField=departure&sortDir=' + ${reverseSortDir}
                            + ${keyword != null ? '&keyword=' + keyword : ''}}">
                    Departure Time
                </a>
            </th>
            <th scope="col">
                <a th:href="@{'/admin/settings/flights/page/' + ${currentPage} + '?sortField=arrival&sortDir=' + ${reverseSortDir}
                            + ${keyword != null ? '&keyword=' + keyword : ''}}">
                    Arrival Time
                </a>
            </th>
            <th scope="col">
                <a th:href="@{'/admin/settings/flights/page/' + ${currentPage} + '?sortField=departureAirport&sortDir=' + ${reverseSortDir}
                            + ${keyword != null ? '&keyword=' + keyword : ''}}">
                    Departure Airport
                </a>
            </th>
            <th scope="col">
                <a th:href="@{'/admin/settings/flights/page/' + ${currentPage} + '?sortField=arrivalAirport&sortDir=' + ${reverseSortDir}
                            + ${keyword != null ? '&keyword=' + keyword : ''}}">
                    Arrival Airport
                </a>
            </th>
            <th scope="col">
                <a th:href="@{'/admin/settings/flights/page/' + ${currentPage} + '?sortField=airline&sortDir=' + ${reverseSortDir}
                            + ${keyword != null ? '&keyword=' + keyword : ''}}">
                    Airline
                </a>
            </th>
            <th>Actions</th>
            </thead>
            <tbody>
            <tr th:each="f : ${flights}"> <!-- table row -->
                <td th:text="${f.flightNo}"></td> <!-- table data -->
                <td th:text="${f.departure}"></td>
                <td th:text="${f.arrival}"></td>
                <td th:text="${f.departureAirport.name}"></td>
                <td th:text="${f.arrivalAirport.name}"></td>
                <td th:text="${f.airline.name}"></td>
                <td>
                    <a th:href="@{/admin/settings/flights/edit/} + ${f.id}">
                        <img th:src="@{/img/edit.png}" id="edit" style="max-width: 100%; max-height: 100%; width: auto; height: auto"/>
                    </a>
                    <a th:href="@{/admin/settings/flights/delete/} + ${f.id}">
                        <img th:src="@{/img/delete.png}" id="delete" style="max-width: 100%; max-height: 100%; width: auto; height: auto"/>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        Total Items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]]
        &nbsp; - &nbsp;

        <!-- FIRST BUTTON -->
        <a th:if="${currentPage > 1}" th:href="@{'/admin/settings/flights/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                                                + ${keyword != null ? '&keyword=' + keyword : ''}}">First</a>
        <span th:unless="${currentPage > 1}">First</span>
        &nbsp;&nbsp;

        <!-- PREVIOUS BUTTON -->
        <a th:if="${currentPage > 1}" th:href="@{'/admin/settings/flights/page/' + ${currentPage - 1}  + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                                                + ${keyword != null ? '&keyword=' + keyword : ''}}">Previous</a>
        <span th:unless="${currentPage > 1}">Previous</span>
        &nbsp;&nbsp;

        <!-- PAGE NUMBERS SEQUENCE -->
        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
            <a th:if="${i != currentPage}" th:href="@{'/admin/settings/flights/page/' + ${i}} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                    + ${keyword != null ? '&keyword=' + keyword : ''}">
                [[${i}]]
            </a>
            <span th:unless="${i != currentPage}">[[${i}]]</span>
            &nbsp;&nbsp;
        </span>

        <!-- NEXT BUTTON -->
        <a th:if="${currentPage < totalPages}" th:href="@{'/admin/settings/flights/page/' + ${currentPage + 1}  + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                                                        + ${keyword != null ? '&keyword=' + keyword : ''}}">Next</a>
        <span th:unless="${currentPage < totalPages}">Next</span>
        &nbsp;&nbsp;

        <!-- LAST BUTTON -->
        <a th:if="${currentPage < totalPages}" th:href="@{'/admin/settings/flights/page/' + ${totalPages}  + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                                                        + ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a>
        <span th:unless="${currentPage < totalPages}">Last</span>
    </div>
</div>
<script type="text/javascript">
            function clearSearch() {
                window.location = "[[@{/admin/settings/flights}]]";
            }
</script>
</body>
</html>