<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
<div class="wrapper" style="background-image: url('img/bg-registration.jpg');">
    <div class="inner">
        <div class="image-holder">
            <a th:href="@{/home}"><img th:src="@{img/registration-form.jpg}" alt=""></a>
        </div>
        <form th:action="@{/login}" method="POST">
            <h3>Log In now!</h3>
            <div class="form-group" th:if="${param.error}" style="color:red">
                Invalid username and/or password.
            </div>
            <div class="form-group" th:if="${param.logout}" style="color:green">
                You have been logged out successfully.
            </div>
            <div class="form-group" th:if="${message}">
                <span th:text="${message}">Display this message.</span>
            </div>
            <div class="form-wrapper">
                <input class="form-control" placeholder="E-mail address" id="username" name="username" type="text">
                <i class="zmdi zmdi-email"></i>
            </div>
            <div class="form-wrapper">
                <input class="form-control" placeholder="Password" id="password" name="password" type="password" data-toggle="password"/>
                <i class="zmdi zmdi-lock"></i>
            </div>
            <button>Login
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </form>
    </div>
</div>
</body>
</html>